<%= form_for(:session, :url => sessions_path) do |f| %>
	<li>
		<%= f.text_field :email, placeholder: "login", size: "32" %>
	</li>
	<li>
		<%= f.password_field :password, placeholder: "senha", size: "12" %>
	</li>
	<li>
		<%= image_submit_tag "home_in.png", :name => nil, :class => "home_in" %>
	</li>
<% end %>