<div class="home">
	<%= render 'users/social_but' %>
	<div class= "sharing cartela round">	
		<div class= "sobre">
			Nós acreditamos no conhecimento coletivo como fonte de sabedoria.<br />
			Suas experiências, pensamentos e teorias importam. Compartilhe.<br />
  		Nossa comunidade é composta de pessoas que pensam e inspiram.<br />
		</div>		
	</div>
</div>