<%= form_for @user, :html => { :multipart => true } do |f| %> 
	<div class="cartela round">
    	<div class= "cartela_corner round">
    		<div class= "board_avatar">
      			<%= image_tag @user.photo.url(:regular) %>
	        	<div class= "alterar_avatar">
	          		<%= f.file_field :photo, :class => "round" %>
	        	</div>
	        </div>
    	</div>
		<div class= "field">
			<%= f.text_field :name, placeholder: " Chico Buarque", :class => "round" %>

			<%= f.text_field :email, placeholder: " chico@email.com", :class => "round" %>

			<%= f.password_field :password, placeholder: " ******(min. 6 dígitos)", :class => "round" %>

			<%= f.password_field :password_confirmation, placeholder:" ******(repetir senha)", :class => "round password" %>
		
			<%= submit_tag "cadastrar", :alt => "cadastrar", :class => "but round" %>
		</div>	
	</div>
	<%= render 'shared/error_messages', :object => f.object %>
<% end %>
