<div class="home">
	<div class="cartela round">
		<%= render 'users/social_but' %>
	</div>
	<div class="cartela round">
		<div class= "cartela_corner round">
		    <div>
		        <%= image_tag "raspas_logo_user.jpg" %>
		    </div>
		</div>
		<%= render 'form' %>
	</div>	
</div>