$("#<%= dom_id @user %>").html("<%=j render 'users/unfollow', user: @user %>")
// $("#followers").html('<p class= "p_stats">seguidores +1</p><%= image_tag "ico_followers_fill.png", :alt => "raspas", :class => "ico round" %><%= link_to @user.followers.count, followers_user_path(@user), :class => "but round" %>')