<% if signed_in? %>
	<%= div_for author do %>
		<% if current_user.idols?(author) %>
			<%= render 'authors/unfan', author: author %>
		<% else %>
			<%= render 'authors/fan', author: author %>
		<% end %>
	<% end %>
<% else %>
	<div>
		<%= link_to "tornar-se fã", signin_path, class: "follow edit but round actions" %>
	</div>
<% end %>