<% if signed_in? %>
	<div id= "fan_form" >
		<% if current_user.idols?(@author) %>
			<%= render 'unfan' %>
		<% else %>
			<%= render 'fan' %>
		<% end %>
	</div>
<% else %>
	<div>
		<%= link_to "torne-se fã!", edit_author_path, :class => "fan edit but round actions" %>
	</div>
<% end %>