<% if signed_in? %>
  <div class="home">  
    <%= render "form" %>
	    <div class= "update_author">
		    <% if @author %>
		        <%= link_to "voltar", @author, class: "but round", title: "voltar para o perfil de #{@author.name}" %> 
	      	<% end %>
	    </div>
  </div> 
<% end %>