<div class="raspas">
	<% unless @author.published? %>
      <% flash[:success] = "O perfil de #{@author.name} está sob análise." %>
    <% end %> 
  <div class="user_info">
    <%= render 'author_info' %>
  </div>
  <div class="stack">
    <% unless @author.microposts.empty? %>
      <%= render @microposts %>
    <% end %>
      <%= will_paginate @microposts %>
  </div>
</div>