<div class= "home">
  <div class= "title">
    <p class= "p_search"><%= @author.name %> foi citado através de <%= pluralize @author_others.count, "fonte" %></p>
    <%= link_to "explorar outras origens", origins_path, title: "+ origens" %>
  </div>
  <div id= "mason">
    <%= render @author_others %>
  </div>
  <div class= "pagination_square">
    <%#= will_paginate @authors %>
  </div>
</div>
