<div class= "sharing cartela round">
	<a href="/auth/facebook" class="social_but">
	 	<%= image_tag "connect_fb.png", :alt => "entre com o Facebook" %>
	</a>

	<a href="/auth/twitter" class="social_but">
		<%= image_tag "connect_tw.png", :alt => "entre com o Twitter" %>
	</a>

<!-- 	<a href="/auth/google_apps" class="social_but">
	 	<%#= image_tag "connect_gp.png", :alt => "entre com o Google+" %>
	</a> -->
</div>
