<div class= "user_feed_avatar">
	<%= link_to image_tag(@user.photo.url(:regular)), @user %>
</div>
<div class= "user_feed_side">
	<%= render "stats" %>
</div>
<div class= "user_feed_arrow">
	<%= image_tag "ico_followers_big.png", :alt => "lêem" %>
</div>
<div class= "user_feed_follow">
	<% @users_followers.each do |user| %>
		<%= link_to image_tag(user.photo.url(:tiny)), user %>
	<% end %>
</div>