<div class= "user_feed_avatar">
	<%= link_to image_tag(@user.image_url(:regular)), @user %>
</div>
<div class= "user_feed_side">
	<br />
	<%= render "stats_relations" %>
</div>
<div class= "user_feed_arrow">
	<%= image_tag "ico_star_big.png", :alt => "fãs", :class => "ico", title: "ídolos" %>
</div>
<div class= "user_feed_follow">
	<% @users_idols.each do |author| %>
		<%= link_to image_tag(author.image_url(:tiny)), author %>
	<% end %>
</div>