<div class= "home">
	<div class= "title">
		<p class= "p_search">explore nossos <%= @users.count %> usuários</p>
		<%= link_to "também quero um perfil!", signin_path if ! signed_in? %>
	</div>
	<ul class="users">
	  <li><%= render @users %></li>
	</ul>
	<div class= "pagination_square">
		<%= will_paginate @users %>
	</div>
</div>