<div class= "title">
	<p class= "p_search"><%= @user.name %> jรก escreveu sobre <%= pluralize @user.tags.count, "tema" %></p><%= link_to "explorar + temas", tags_path %>
</div>
<div class= "home">
	<ul class="users">
		<li><%= render @user.tags %></li>
	</ul>
</div>