<div class= "user_feed">
    <%= render 'user_followers' %>
</div>
<% if @followers.empty? %>
	<div class= "title">
		<p class= "p_search">nenhum seguidor encontrado</p>
	</div>
<% else %>
	<div class= "home">
		<% unless @followers.empty? %>
			<div>
				<%= render @followers %>
			</div>
		<% end %>
	</div>
<% end %>
<%= will_paginate @followers %>
