<div class= "home">
  <div class= "title">
    <p class= "p_search"><%= @user.name %> citou <%= pluralize @user_origins.count, "fonte" %></p>
    <%= link_to "explorar outras origens", origins_path, title: "+ origens" %>
  </div>
  <div id= "mason">
    <%= render @user_origins %>
  </div>
  <div class= "pagination_square">
    <%#= will_paginate @authors %>
  </div>
</div>
