<div class= "home">
  <div class= "title">
    <p class= "p_search"><%= @user.name %> citou <%= pluralize @user_poems.count, "poema" %></p>
    <%= link_to "explorar outros poemas", poems_path, title: "+ poemas" %>
  </div>
  <div id= "mason">
    <%= render @user_poems %>
  </div>
  <div class= "pagination_square">
    <%#= will_paginate @users %>
  </div>
</div>
