<div class= "home">
  <div class= "title">
    <p class= "p_search"><%= @user.name %> citou <%= pluralize @user_films.count, "filme" %></p>
    <%= link_to "explorar outros livros", films_path, title: "+ filmes" %>
  </div>
  <div id= "mason">
    <%= render @user_films %>
  </div>
  <div class= "pagination_square">
    <%#= will_paginate @users %>
  </div>
</div>
