<div class= "title">
	<p class= "p_search"><%= @user.name %> citou <%= @user.authors.count %> pensadores</p><%= link_to "explorar + pensadores", authors_path %>
</div>
<div class= "home">
	<ul class="users">
		<%= render @user.authors %>
	</ul>
</div>