<div class= "user_feed">
    <%= render 'user_favoritas' %>
</div>
<% if @user.favoritas.empty? %>
	<div class= "title">
		<p class= "p_search"><%= @user.name if !@user %> ainda não tem favoritas ;(</p>
		<%= link_to "explorar favoritas", microposts_path %>
	</div>
<% else %>
	<div class= "home">
	  	<% unless @user.favoritas.empty? %>
			<div>
				<%= render @user.favoritas %>
			</div>
	  	<% end %>
	</div>
<% end %>