<%= div_for micropost do %>
	<div class= 'relative'>
		<%= link_to (image_tag "heart.png", alt: "favoritar"), criar_favourite_path(micropost), class: "top_button round", id: 'wait_favo', title: "adicionar às favoritas", remote: true %>
	</div>
<% end %>
<!--
<%#= form_for micropost.favourites.build(micropost_id: micropost.id) do |f| %>
  <div>
    <%#= f.hidden_field :micropost_id %>
  </div>
  <div>
    <%#= image_submit_tag "heart.png", alt: "favoritar", class: "favo_but round", title: "adicionar às favoritas" %>
  </div>
<%# end %>
-->