<div>  
  <% if @author %>
    <%= image_tag @author.image_url.to_s, :class => "author_back" %>
  <% end %>
  <% if @micropost %>
    <%= image_tag @micropost.author.image_url.to_s, :class => "author_back" if @micropost.author %>
  <% end %>
</div>