<% if object.errors.any? %>
  <div class= "cartela_error round">
    <div id="error_explanation">
      <!-- Opa, quase! Faltou <%= pluralize(object.errors.count, "detalhe") %>: !-->
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li>.<%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>