<div class= "likes">
  <div class= "likes_each">
    <div class= "likes_each_home">
      <%= link_to (image_tag "twitter_20.png"), "https://twitter.com/#!/entre_raspas", title: "twitter raspas", target: "blank" %>
    </div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="www.raspas.com.br" data-via="entre_raspas" 
    data-text="passe seu conhecimento adiante. crie, colecione e compartilhe pensamentos com o Raspas" 
    data-lang="none" data-counturl= "https://www.raspas.com.br" data-size="medium" data-related="entre_raspas" data-count="horizontal" title="tweetar Raspas"></a>
  </div>
  <div class= "likes_each">
    <div class= "likes_each_home">
      <%= link_to (image_tag "facebook_20.png"), "http://www.facebook.com/entre.raspas", title: "faceblog raspas", target: "blank" %>
    </div>
    <div id="fb-root"></div>
    <div class="fb-like" data-href="https://www.facebook.com/entre.raspas" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true" data-font="tahoma"></div>
  </div>
  <div class= "likes_each">
    <div class= "likes_each_home">
      <%= link_to (image_tag "google_20.png"), "https://www.google.com/+", title: "google +", target: "blank" %>
    </div>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <g:plusone size="medium" annotation= "bubble"></g:plusone>
  </div>
</div>