compartilhe
<div>

	<div class="fb-like" data-href="http://www.raspas.com.br" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="trebuchet ms"></div>
    
	<%= link_to (image_tag "twitter_20.png"), "https://twitter.com/share?url=http://www.raspas.com.br", 
	:class => "popup", :size => "20x20", :alt => "tweet", title: "compartilhar pelo twitter" %>

	<%= link_to (image_tag "google_20.png"), "https://plusone.google.com/_/+1/confirm?hl=en&url=http://www.raspas.com.br", 
	:class => "popup", :size => "20x20", :alt => "tweet", title: "compartilhar pelo google +" %>

</div>