<div class= "intro round shadow">
	<div class= "intro_text">
	  Rede contemporânea de pensadores atemporais.<br />
	  Crie, colecione e compartilhe pensamentos.
	  <%= link_to "entrar", signin_path, title: "entrar" %>
	</div>
</div>