<div class="cartela round">
    <div class= "cartela_corner round">
        <div class= "user_avatar">
            <%= image_tag "photos/default/regular_user.jpg" %>
        </div>
    </div>
    <div class= "sobre">
        Raspas são pensamentos. Momentos em palavras.<br />
        Crie, colecione e compartilhe. Inpire-se, questione e aprenda.<br />
    </div>  
</div>
<div class="cartela round">
    <div class= "cartela_corner round">
        <div class= "user_avatar">
            <%= image_tag "photos/default/regular_author.jpg" %>
        </div>
    </div>
    <div class= "sobre">
        Um portal dedicado aos renomados pensadores e aprendizes.<br />
        Uma comunidade sedenta por conhecimento.<br />
    </div>  
</div>
<div class="cartela round">
    <div class= "cartela_corner round">
        <div class= "user_avatar">
            <%= image_tag "raspas_logo_user.jpg" %>
        </div>
    </div>
    <div class= "sobre">
        Um único pensamento é a origem de todas as ações grandiosas.<br />
        Nosso trabalho é compartilhar momentos de inspiração.<br />
    </div>  
</div>