	<div class= "mosaico_page">
		<% @authors.shuffle.each do |author| %>
			<div class= "mosaico_page_item">
				<%= link_to (image_tag author.image_url(:medium).to_s), author %>
				<p class= "gradient"><%= link_to author.name, author %></p>
			</div>
		<% end %>
	</div>