<div class="raspas">
	<div class="user_info">
		<%= render 'tag_info' %>
	</div>
	<div class="stack">
	    <% if !signed_in? %>
	      <div class ="welcome_space"></div>
	      <%= render 'shared/welcome' %>
	    <% end %>
		<% unless @tag.microposts.empty? %>
		  <%= render @microposts %>
		<% end %>
		<div class= "pagination_square">
			<%= will_paginate @microposts %>
		</div>
	</div>
</div>