<div class= "home">
	<div class="user_info">
	 	<%= render 'micropost_explorer' %>
	</div>
	<div class="stack">
	    <% unless @microposts.empty? %>
	      <%= render @microposts %>
	    <% end %>
	    <div class= "pagination_square">
			<%= will_paginate @microposts %>
		</div>
	</div>
</div>