.container {
  height:100%;
  width: 100%;
}

body {
  background: transparent;
}

/* GENERAL */

@mixin round($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
}

@mixin shadow($s1, $s2, $s3, $s4, $color) {
  -webkit-box-shadow: 0 $s1 $s2 $color;
  -moz-box-shadow: 0 $s3 $s4 $color;
}

@mixin shadow_ie {
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#F8F8F8')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#D8D8D8');
}

@mixin transparency($transparency) {
  opacity: $transparency;
}

@mixin transparency_ie($transparency_ie) {
  filter: $transparency_ie;
  zoom: 1;
}

@mixin scroller {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width: 12px;
  }
   
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
    @include round(4px);
  }
   
  &::-webkit-scrollbar-thumb {
    @include round(4px);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }

//  IE SCROLLBAR STYLING
  scrollbar-face-color: #F8F8F8;
  scrollbar-highlight-color: #F8F8F8;
  scrollbar-shadow-color: #B8B8B8;
  scrollbar-3dlight-color: grey;
  scrollbar-arrow-color: #F8F8F8;
  scrollbar-track-color: #F8F8F8;
  scrollbar-darkshadow-color: grey;
}

.gradient{
  /* thanks to http://blog.fakedarren.com/2010/01/cross-browser-css-gradients/ */
  /* and http://www.puremango.co.uk/2010/04/css-gradient/ */
  /* fallback (Opera) */
  background: transparent;
  /* Mozilla: */
  background: -moz-linear-gradient(top, transparent, #D8D8D8);
  /* Chrome, Safari:*/
  background: -webkit-gradient(linear,
              left top, left bottom, from(transparent), to(#D8D8D8));
  /* MSIE */
//  filter: progid:DXImageTransform.Microsoft.Gradient(
//              StartColorStr='#E2492F', EndColorStr='#E2492F', GradientType=0);
}

.but {
  background: transparent;
  border: 1px solid #D8D8D8;
  color: #E2492F;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: bold;
  min-height: 20px;
  min-width: 8px;
  padding: 4px 7px;
}

.but:hover {
  background: #E2492F;
  color: #FFF;
  @include shadow(2px, 2px, 1px, 1px, #D8D8D8);
}

.round {
  @include round(4px);
}

.shadow {
  @include round(4px);
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
}

.actions {
  float: left;
}

.invisible {
  position: absolute;
  visibility: hidden;
}

.absolute {
  float: left;
  position: absolute;
  top: 0;
  z-index: -1;
}

.absolute_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.active {
  background-color: #E6674A;
}

.relative {
  position: relative;
}

.waiting {
  position: absolute;
  left: 0;
  visibility: hidden;
}

input::-webkit-input-placeholder {
  color:    #B0B0B0;
}
input:-moz-placeholder {
  color:    #B0B0B0;
}

.hasPlaceholder {
  color: #B0B0B0;
}

:focus { 
  outline: 0; 
}

a img { 
  border: none; 
}

ul {
  padding: 0;
}

.pattern {
  background: url(fundo.jpg) no-repeat fixed center;
  background-size: 100% auto;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -4;
  @include transparency(0.4);
  @include transparency_ie(alpha(opacity='40'));
}

div.container img.author_back {
  left: 0;
  position: fixed;
  width: 100%;
  z-index: -2;
  @include transparency(0.2);
  @include transparency_ie(alpha(opacity='20'));
}

* {
  margin: 0;
}

section {
  border: 0px solid black;
  height: 0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
  padding-top: 40px;
  width: 100%;
}

/* NAVIGATION */

header {
  background: #e2492f;
  height: 40px;
  margin: 0;
  position: fixed;
  width: 100%;
  @include shadow(1px, 2px, 1px, 2px, #2F4F4F);
  @include shadow_ie;
  z-index: 1;
}

li {
  list-style: none;
}

nav {
  border: 0px solid black;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

nav input::-webkit-input-placeholder {
  color:    #FFF5EE;
}
nav input:-moz-placeholder {
  color:    #FFF5EE;
}

 nav .hasPlaceholder {
  color: #FFF5EE;
}

.raspas_logo {
  border: 0px solid #E6674A;
  float: left;
  height: 18px;
  padding: 12px 14px 10px;
  width: 74px;
}

.raspas_logo:hover {
  background: #E6674A;
}

nav ul {
  float: left;
  padding: 0;
}

nav ul li {
  display: inline;
  text-align: center;
  font-weight: bold;
}

nav ul li.sider {
  display: none;
}

nav ul:hover li { 
  display: inline; 
}

nav ul li a {
  border: 0px solid #E6674A;
  color: #FFF;
  display: inline-block;
  padding: 12px;
  min-width: 15px;
}

.nave_r {
  float: right;
}

nav ul.nave_r li a {
  float: left;
}

nav ul.nave_r li.sider a {
  padding: 12px 8px;
}

nav ul li input {
  background: transparent;
  border: 1px solid #E6674A;
  border-right: 0px solid #E6674A;
  color: #FFF;
  height: 25px;
  margin-top: 6px;
  text-align: center;
}

nav ul li.search {
  float: left;
}

nav ul li.search input.search_li {
  float: left;
  line-height: 1.8;
  width: 11.5em;
}

nav ul li.search input.lupa {
  border-right: 1px solid #E6674A;
  border-left: 0px solid #E6674A;
  float: left;
  padding: 0 0.2em;
  height: 27px;
  width: 27px;
  @include transparency(0.8);
}

nav ul li input#button {
  border: 0px solid #E6674A;
  height: 18px;
  margin: 0;
  padding: 11px;
  width: 22px;
}

nav ul li a#mural {
  border: 0px solid #E6674A;
  float: left;
  margin: 0em;
  margin-left: 17em;
  padding: 4px; 
}

 nav ul li a#mural img {
  border: 0px solid #E6674A;
  height: 30px;
  margin: 0;
  padding: 0 2px; 
  width: 30px;
 }

nav ul li input:hover, nav ul li a:hover, nav ul li input#button:hover {
  background: #E6674A;
}

div.mural_count {
  background: #E6674A;
  border: 1px solid #E6674A;
  margin-left: -0.8em;
  padding: 1px 4px;
  position: absolute;
  top: 11px;
}

div.topo {
  border: 0px solid blue;
  width: 142px;
}

div.topo li a {
  padding: 12px 8px;
}

/* PAGINATION */

div.pagination_square {
  border: 0px solid #D8D8D8;
  float: right;
}

.pagination {
  height: 40px;
}

div.pagination a, .pagination span, .pagination em {
  border: 1px solid #D8D8D8;
  display: block;
  float: left;
  font-size: 120%;
  font-weight: bold;
  margin-left: 0.5em;
  padding: 0.2em 0.5em;
  @include round(4px);
}

.pagination .disabled {
  color: #D8D8D8;
  border: 1px solid #D8D8D8; 
}

.pagination .current {
  background: #E2492F;
  color: #FFF;
}

.pagination a {
  color: #E2492F;
  text-decoration: none;
  border: 1px solid #9aafe5; 
}

.pagination a:hover, .pagination a:focus {
  background: #E2492F;
  color: #FFF;
}

footer {
  float: left;
  height: 75px;
  width: 100%;
}

.welcome_space {
  margin-bottom: 105px;
}

.raspas {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

div.home {
  border: 0px solid #D8D8D8;
  float: left;
  margin: 0 0 2em;
  width: 800px;
}

div.title {
  border-bottom: 1px solid #D8D8D8;
  float: left;
  font-weight: bold;
  height: 28px;
  margin-top: 0.8em;
  text-align: left;
  width: 800px;
}

input#button {
  background: transparent;
  border: 0;
  padding: 0;
  text-align: left;
  font-size: 140%;
  font-weight: normal;
}

div.title a {
  float: right;
  margin-left: 0.5em;
  line-height: 1.5;
}

div.likes {
  border: 0px solid black;
  display: block;
  margin: 0.8em 0 0 592px;
  position: fixed;
  top: 40px;
  width: 12em;
}

div.likes_each {
  border: 0px solid #D8D8D8;
  float: left;
  height: 1.8em;
  margin-bottom: 0.5em;
  width: 12em;
}

div.likes_each_home {
  border: 0px solid #D8D8D8;
  float: left;
  height: 1.8em;
  width: 2em;
}

div.fb-like {
  border: 0px solid #D8D8D8;
  float: left;
  height: 1.8em;
  width: 9em;
}

/* POPPUP FORMS */

#backgroundPopup {  
  background: #000000;  
  border: 1px solid #E8E8E8;  
  display: none;
  height: 100%;  
  left: 0;  
  position: fixed;
  _position: absolute; /* hack for internet explorer 6*/  
  top: 0;  
  width: 100%;  
  z-index: 3;  
}

#popupContact {  
  border: 0px solid #E8E8E8;  
  display: none;  
  height: 200px;
  margin-top: 41px;  
  position: fixed;  
  _position: absolute; /* hack for internet explorer 6*/  
  width: 800px;  
  z-index: 4;  
}

#popupContactClose {
  background-color: #FFF;
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  height: 32px;
  padding: 1px 1.2em;
  position: absolute;
  right: 0;
  width: 30px;
  @include transparency(0.7);
  @include transparency_ie(alpha(opacity='70'));
}

#popupContactClose:hover {
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  background: #E2492F;
  color: #FFF;
  @include transparency(1);
  @include transparency_ie(alpha(opacity='100'));
}

textarea#contact {
  border: 1px solid #E8E8E8;
  height: 160px;
  float: left;
  margin: 1.3em 0 0 1em;
  width: 550px;
}

textarea#contact:hover {
  border: 1px solid #D8D8D8;
}

/* HOME */

div.logo_avatar {
  background: #FFF5EE;
  border: 1px solid #D8D8D8;
  height: 95px;
  margin-bottom: 1em;
  width: 200px;
}

div.stack_home {
  border: 0px solid #D8D8D8;
  float: right;
  height: 100%;
  margin-bottom: 2em;
  padding-bottom: 2em;
  padding-top: 1px;
  width: 595px;
  margin-top: 108px;
}

div.intro {
  background-color: #FFF5EE;
  border: 1px solid #E2492F;
  height: 95px;
  margin-left: 0.5em;
  margin-bottom: 1em;
  position: fixed;
  top: 40px;
  width: 582px;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
  z-index: 2;
}

div.intro_text {
  border: 0px solid black;
  float: left;
  font-size: 140%;
  height: 50px;
  line-height: 1.5em;
  margin-top: 1.2em;
  text-align: center;
  width: 580px;
}

div.intro a {
  font-size: 100%;
}

/* MOSAICO */

div.mosaico_page {
  left: 0;
  float: left;
  position: absolute;
  top: 40px;
  width: 103%;
  z-index: 3;
}

div.mosaico_page_item {
  display: inline-block;
  float: left;
  height: 98px;
  position: relative;
  width: 98px;
}

div.mosaico {
  left: 0;
  float: left;
  position: fixed;
  top: 40px;
  width: 103%;
  z-index: -1;
}

div.mosaico_item {
  background-color: #FFF;
  border: 0px solid #E8E8E8;
  display: inline-block;
  float: left;
  height: 98px;
  position: relative;
  width: 98px;
  @include transparency(0.3);
  @include transparency_ie(alpha(opacity='30'));
}

div.mosaico_item img, div.mosaico_page_item img {
  height: 98px;
  width: 98px;
}

div.mosaico_item p, div.mosaico_page_item p {
  border: 0px solid blue;
  bottom: 0px;
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  padding: 8px 0;
  position: absolute;
  text-align: center;
  left: 0;
  visibility: hidden;
  width: 98px;
}

div.mosaico_item a, div.mosaico_page_item a {
  color: #FFF;
}

div.mosaico_item:hover {
  @include transparency(1);
  @include transparency_ie(alpha(opacity='100'));
}

div.mosaico_item:hover p, div.mosaico_page_item:hover p {
  visibility: visible;
}

/* SIGNUP PAGE */

.cartela {
  background: #F8F8F8;
  border: 1px solid #E8E8E8;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  width: 98%;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
}

div.cartela_corner {
  display: inline;
  float: left;
  height: 200px;
  width: 200px;
}

.field {
  border: 0px solid #D8D8D8;
  float: left;
  height: 165px;
  margin-left: 1.5em;
  margin-top: 1.5em;
  width: 71%;
}

div.field input, div.field select#start_date_year {
  background: #F8F8F8;
  border: 1px solid #E8E8E8;
  color: #2F4F4F;
  display: inline;
  float: left;
  height: 30px;
  margin-bottom: 0.7em;
  text-indent: 4px;
  width: 564px;
}

div.field select#start_date_year {
  cursor: pointer;
  font-size: 120%;
}

div.field input.hasPlaceholder {
  color: #B0B0B0;
}

div.field input:hover {
  border: 1px solid #D8D8D8;
}

div.field input.password {
  width: 456px;
}

div.field input.but {
  color: #E2492F;
  margin-left: 0.5em;
  padding: 8px 7px 24px;
  width: 99px;
}

div.field input.but:hover {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  color: #FFF;
}


/* SIGNIN PAGE */

.yet {
  color: #B0B0B0;
  margin-top: 1em;
}

/* USER SHOW PAGE */

div.stack {
  border-left: 0px solid #D8D8D8;
  float: right;
  height: 100%;
  margin-bottom: 2em;
  padding-bottom: 2em;
  padding-top: 1px;
  width: 595px;
}

div.user_info {
  border: 0px solid blue;
  float: left;
  width: 200px;
}

div.user_avatar {
  min-height: 200px;
  max-height: 605px;
  margin-bottom: 1em;
  width: 200px;
  img {
    background: #F8F8F8;
    border: 1px solid #E8E8E8;
    max-height: 605px;
    min-height: 200px;
    width: 200px;
  }
}

div.user_info_board {
  background: #F8F8F8;
  border: 1px solid #E8E8E8;
  color: #B0B0B0;
  float: right;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 185px;
}

div.user_info_board input, div.user_card_info input {  
  border: 1px solid #D8D8D8;
  color: #E2492F;
  cursor: pointer;
  float: left;
  font-size: 120%;
  font-weight: bold;
  margin-top: 0.5em;
  padding: 4px 0;
  width: 100%;
}

div.user_info_board a.edit, div.user_card_info a.edit {  
  float: left;
  height: 22px;
  margin-top: 0.5em;
  padding: 2px 0 0;
  text-align: center;
  width: 99%;
}

div.user_info_board input.follow, div.user_card_info input.follow, div.user_info_board a.follow, div.user_card_info a.follow {
  background: #E2492F;
  color: #FFF;
  z-index: 2;
  @include shadow(2px, 2px, 1px, 1px, #D8D8D8);
}

div.user_info_board input.follow:hover, div.user_card_info input.follow:hover, div.user_info_board a.follow:hover, div.user_card_info a.follow:hover {
  @include shadow(0, 0, 0, 0, #D8D8D8);
}

div.user_info_board input.unfollow, div.user_card_info input.unfollow, div.user_info_board a.unfollow, div.user_card_info a.unfollow {
  background: #F8F8F8;
  color: #B0B0B0;
}

div.user_info_board:hover {
  color: #2F4F4F;
  cursor: default;
}

div.stats {
  border: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: inline-block;
  height: 22px;
  margin-top: 0.5em;
  text-align: left;
  width: 177px;
}

div.user_info_board div.stats {
  width: 187px;
}

div.stats img {
  background-color: #F8F8F8;
  height: 20px;
  width: 20px;
  @include transparency(0.5);
  @include transparency_ie(alpha(opacity='50'));
}

div.stats img:hover {
  @include transparency(1);
  @include transparency_ie(alpha(opacity='100'));
}

div.stats a.but {
  font-size: 14px;
  font-weight: normal;
  height: 20px;
  padding: 1px 4px;
  line-height: 1.5;
  margin-right: 0;
  min-width: 16px;
  text-align: center;
}

div.user_info_board a.temas {
  float: left;
  font-size: 120%;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0 0.4em 0.4em 0;
}

div.bio {
  line-height: 1.6em;
}

div.last_header {
  border: 0px solid #D8D8D8;
  margin-bottom: 0.5em;
}

div.last {
  border: 0px solid #D8D8D8;
  height: 32px;
  margin-bottom: 0.5em;
  vertical-align: text-top;
}

div.last img {
  border: 0px solid #D8D8D8;
  float: left;
  height: 32px;
  width: 32px;
}

div.last_users {
  border: 0px solid #D8D8D8;
  display: inline-block;
  position: relative;
}

div.last_upwards {
  border: 0px solid black;
  bottom: 0;
  font-weight: bold;
  margin-left: 0.3em;
  position: absolute;
  left: 32px;
  width: 145px;
}

div.last_upwards p {
  line-height: 1.2;
}

/* USER HOME PAGE */

div.user_bar {
  background: #F8F8F8;
  border: 0px solid #D8D8D8;
  float: left;
  height: 200px;
  margin-bottom: 1.5em;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
}

div.user_bar img {
  float:left;
  margin: 0.1em;
}

div.user_board {
  border-bottom: 1px solid #D8D8D8;
  float: left;
  height: 190px;
  margin: 0.5em;
  width: 585px;
}

div.board_avatar {
  border-left: 1px solid #D8D8D8;
  float: left;
  height: 200px;
  width: 200px;
}

div.board_avatar img {
  height: 200px;
  width: 200px;
}

div.board_avatar input {
  margin-right: 0;
}

/* RASPA */

textarea#micropost_content {
  border: 1px solid transparent;
  float: left;
  font-size: 140%;
  height: 148px;
  overflow: auto;
  width: 515px;
}

div.count {
  float: right;
  margin-top: 12.4em;
}

div.count_micropost {
  float: right;
  margin-right: 30px;
  margin-top: 11.6em;
}

div.count_bio {  
  float: left;
  margin-top: 13.8em;
}

div#count, div#count_bio {
  color: #B0B0B0;
  font-size: 140%;
}

input#micropost_author_name, input#micropost_origin_name, input#micropost_tag_names {
  background-color: transparent;
  border: 0px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;
  color: #2F4F4F;
  float: left;
  font-size: 120%;
  height: 20px;
  margin-top: 18px;
  width: 175px;
}

input#micropost_author_name.hasPlaceholder, input#micropost_tag_names.hasPlaceholder, input#micropost_origin_name.hasPlaceholder {
  color:#E2492F;
}

.write {
  border: 1px solid #D8D8D8;
  bottom: 3px;
  padding: 0 17px;
  position: absolute;
  right: 0;
}

.write:hover {
  background: #E2492F;
}

/* AUTOCOMPLETE */

ul.ui-autocomplete {
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

ul.ui-autocomplete li {
  background-color: #F8F8F8;
  border-left: solid 1px #D8D8D8;
  margin: 0;
  padding: 0;
}

ul.ui-autocomplete li a {
  color: #E2492F;
  display: block;
  font-size: 115%;
  font-weight: bold;
  padding: 3px;
}

ul.ui-autocomplete li a.ui-state-hover, a.ui-state-active {
  background-color: #E2492F;
  color: #FFF;
}

div.quotes {
  background-color: #F8F8F8;
  border: 1px solid #E8E8E8;
  height: 199px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 98%;
}

div.half_quotes {
  background-color: #F8F8F8;
  border: 1px solid #E2492F;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 98%;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
}

div.half_quotes a {
  font-size: 100%;
  font-weight: bold;
}

div.quotes:nth-child(even) { 
  background: #FFF5EE; 
}

div.quote {
  border: 0px solid #D8D8D8;
  display: inline-block;
  height: 200px;
  margin-left: 1.4em;
  width: 78%;
}

div.quote_text {
  border: 0px solid blue;
  font-size: 140%;
  padding-top: 7.8em;
  position: relative;
}

div.upwards {
  bottom: 0;
  position: absolute;
}

div.quote_author {
  display: block;
  float: left;
  font-size: 12px;
  overflow: hidden;
  font-weight: bold;
}

/* tooltip styling */
.tooltip {
  display:  none;
  margin: 10px 0 0 154px;
  z-index: 4;
}

.tooltip_field {
  background-color: #FFF5EE;
  border: 1px solid #D8D8D8;
  color: #2F4F4F;
  font-size: 13px;
  line-height: 1.4;
  padding: 10px;
  width: 155px;
  z-index: 4;
  @include round(4px);
}

div.quote_author img {
  height: 20px;
  margin-left: -0.4em;
  width: 20px;
}

div.timestamp {
  border: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: block;
  float: left;
  float: left;
  line-height: 1.1;
  margin: 9px 0 0 5px;
  clear: both;
}

div.timestamp_each {
  border: 0px solid #D8D8D8;
  display: block;
  float: left;
  font-size: 12px;  
  margin: 0 12px 2px 0;
}

div.timestamp_each img {
  height: 12px;
  margin: 4px 0 0 2px;
  width: 12px;
  vertical-align: bottom;
}

div.timestamp_each img.raspa {
  height: 12px;
  width: 15px;
}

div.timestamp a {
  font-size: 100%;
}

div.quote_corner {
  border: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: inline-block;
  float: right;
  height: 200px;
  margin-right: 1.5em;
  width: 65px;
}

div.top_corner {
  border: 0px solid #D8D8D8;
  height: 11.2em;
  width: 65px;
}

div.top_corner a.top_button {
  border: 1px solid #D8D8D8;
  display: block;
  float: right;
  height: 32px;
  padding: 1px 1.2em;
  width: 30px;
  @include shadow(1px, 1px, 1px, 1px, #D8D8D8);
  @include transparency(0.7);  
}

div.top_corner a.top_button:hover {
  border: 1px solid #D8D8D8;
  background: #E2492F;
  color: #FFF;
  @include transparency(1);
  @include transparency_ie(alpha(opacity='100'));
}

div.top_corner input {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  display: block;
  float: right;
  height: 32px;
  padding: 1px 1.2em;
  width: 30px;
}

div.top_corner input:hover {
  background: #F8F8F8;
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  color: #FFF;
  @include transparency(1);
  @include transparency_ie(alpha(opacity='100'));
}

div.top_corner input.favo_but {
  background: #F8F8F8;
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  color: #FFF;
  display: block;
  float: right;
  height: 32px;
  padding: 1px 1.2em;
  width: 30px;
  @include transparency(0.7);
}

div.top_corner input.favo_but:hover {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  @include transparency(1);
  @include transparency_ie(alpha(opacity='100'));;
}

div.but_stats {
  border: 1px solid #E8E8E8;
  border-top: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: block;
  float: right;
  padding: 2px 0;
  text-align: center;
  width: 64px;
 }

 div.but_stats p {
  color: #B0B0B0;
  font-size: 85%;
}

div.but_stats a {
  border: 0px solid #E8E8E8;
  font-size: 100%;
  padding: 0.1em 1.4em;
}

div.but_stats_own {
  background: #E2492F;
  border: 1px solid #E8E8E8;
  border-top: 0px solid #D8D8D8;
  display: block;
  float: right;
  padding: 2px 0;
  text-align: center;
  width: 64px;
 }

div.but_stats_own a {
  color: #FFF;
  font-size: 100%;
  padding: 0.1em 1.4em;
}

div.share {
  border: 0px solid black;
  float: right;
  height: 55px;
  margin-top: 0.9em;
  width: 63px;
}

div.sharers {
  border: 0px solid black;
  display: inline;
  float: left;
}

div.sharers img {
  margin-right: 6px;
}

div.sharers img:hover {
  @include transparency(0.9);
  @include transparency_ie(alpha(opacity='90'));
}

div.quote_poster_pic img {
  border: 1px solid #E8E8E8;
  border-bottom: 0px;
  display: inline-block;
  float: right;
  height: 65px;
  width: 65px;
}

div.quotes:hover div.timestamp {
  color: #2F4F4F;
}

/* SIGNIN */

div.sharing {
  border: 1px solid #E2492F;
  background: #FFF;
}

div.sharing a, div.sharing img {
  border: 1px solid transparent;
  padding: 0;
  float: left;
  margin: 2.5em 0.4em 0;
}

div.sharing img:hover {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  @include round(4px);
}

a.social_but img{
  margin: 2.2em;
}

/* USER, AUTHOR, ORIGIN EDIT PAGE */

textarea {
  background-color: transparent;
  border: 1px solid transparent;
  float: left;
  height: 9.6em;
  text-indent: 4px;  
  width: 535px;
}

input#user_image, input#author_image, input#origin_image {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  color: #FFF;
  float: left;
  padding: 6px 0;
  margin-top: -30px;
  position: relative;
  visibility: visible;
  width: 198px;
}

input#user_image:hover, input#author_image:hover, input#origin_image:hover {
  cursor: pointer;
}

div.field input.field_info, div.field select#start_date_year {
  width: 180px;
}

textarea#bio {
  border: 1px solid #E8E8E8;
  height: 160px;
  float: left;
  margin: 1.3em 0 0 1em;
  overflow: auto;
  width: 332px;
}

textarea#origin_info {
  border: 1px solid #E8E8E8;
  height: 115px;
  float: left;
  margin: 64px 0 0 1em;
  overflow: auto;
  width: 332px;
}

textarea#bio:hover {
  border: 1px solid #D8D8D8;
}

div.update {
  border: 0px solid #D8D8D8;
  display: block;
  float: right;
  font-size: 110%;
}

div.update_ {
  display: block;
  font-size: 90%;
  line-height: 1.5;
  margin-top: 10em;
}

div.update_ a {
  color: #B0B0B0;
}


/* FOLLOW PAGE */

div.user_feed {
  background-color: #F8F8F8;
  border: 1px solid #D8D8D8;
  color: #B0B0B0;
  display: inline-block;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 798px;
  @include shadow(1px, 1px, 1px, 1px, #D8D8D8);
  @include shadow_ie;
}

div.user_feed_avatar img {
  float:left;
  height: 130px;
  margin: 0;
  width: 130px
}

div.user_feed_side {
  border-left: 1px solid #D8D8D8;
  display: inline;
  float: left;
  height: 130px;
  line-height: 1.5;
  padding: 0em 1em;
  width: 180px;
}

div.user_feed_arrow img {
  border: 1px solid #D8D8D8;
  float: left;
  height: 130px;
  margin: 0;
  width: 130px;
  @include transparency(0.5);
  @include transparency_ie(alpha(opacity='50'));
}

div.user_feed_arrow img:hover {
  cursor: pointer;
  @include transparency(1);
  @include transparency_ie(alpha(opacity='100'));
}

div.user_feed_follow {
  border: 0px solid #D8D8D8;
  float: left;
  height: 130px;
  width: 331px;
  overflow-y: auto;
  overflow-x: hidden;
  @include scroller;
}

div.user_feed_follow img {
  border: 0px solid #D8D8D8;
  float: left;
  height: 32px;
  width: 32px
}

div.feed_quotes {
  height: 200px;
  margin-bottom: 2.5em;
  width: 798px;
}

div.stack_feed {
  float: right;
  height: 200px;
  width: 595px;
}

div.mural_feed {
  border-bottom: 1px solid #D8D8D8;
  min-height: 31px;
  width: 330px;
}

div.mural_feed img{
  min-height: 31px;
  min-width: 31px;
}

div.mural_feed_p {
  line-height: 1.2;
  margin-left: 36px;
}

div.mural_feed a {
  color: #B0B0B0;
  font-size: 110%;
}

div.mural_feed:hover {
  background: #FFF;
}

div.mural_feed a:hover {
  color: #E2492F;
}

ul.users li {
  border: 1px solid #D8D8D8;
  float: left;
  margin: 12px;
}

div.user_card {
  background-color: #F8F8F8;
  display: inline-block;
  float: left;
  height: 185px;
  width: 374px;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
  @include shadow_ie;
}

div.user_card_avatar img {
  float: left;
  height: 185px;
  width: 185px;
}

div.user_card_info {
  color: #B0B0B0;
  display: inline-block;
  float: right;
  margin-right: 6px;
  width: 176px;
}

div.user_card_info a img {
  height: 20px;
  width: 20px;
}

div.user_card_name {
  line-height: 1.4;
  height: 86px;
  margin: 4px 0 2px;
  width: 100%;
}

div.user_card_name a {
  display: block;
  font-size: 120%;
  font-weight: bold;
}

div.home_authors {
  border: 0px solid #D8D8D8;
  float: left;
  position: relative;
}

div.home_authors_each {
  border: 0px solid #E8E8E8;
  display: inline-block;
  float: left;
  height: 130px;
  margin: 0 1px 1px 0;
  position: relative;
  width: 130px;
}

div.home_authors_each p {
  background: #F8F8F8;
  border: 0px solid blue;
  bottom: 10px;
  color: #E2492F;
  display: inline-block;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 130px;
  @include transparency(0.6);
  @include transparency_ie(alpha(opacity='60'));
}

div.home_authors_each:hover p {
  @include transparency(1);
  @include transparency_ie(alpha(opacity='100'));
}

/* AUTHOR */

div.name_edit {
  min-height: 25px;
  margin-bottom: 2px;
  position: relative;
}

div.name_edit img {
  border: 0px solid #D8D8D8;
  height: 12px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 12px;
}

div.name_edit p {
  border: 0px solid #D8D8D8;
  color: #2F4F4F;
  font-size: 140%;
  font-weight: bold;
  line-height: 1.3;
  max-width: 165px;
}

div.name_edit a {
  font-size: 100%;
}

div.sobre {
  border: 0px solid black;
  float: left;
  font-size: 150%;
  height: 55px;
  line-height: 2;
  margin-left: 1em;
  margin-top: 3.6em;
  width: 560px;
}

div.sign {
  border: 0px solid black;
  color: #B0B0B0;
  float: left;
  font-size: 140%;
  height: 55px;
  line-height: 1.5;
  margin-left: 1em;
  margin-top: 1.4em;
  width: 84%;
}

div.flag_sign {
  border: 0px solid black;
  float: right;
  font-size: 140%;
  height: 40px;
  margin-right: 1.5em;
  margin-top: 2em;
  width: 40px;
}

div.sign a {
  font-size: 100%;
  font-weight: normal;
}

/* TAGS */

div.tag_word a {
  float: left;
  font-size: 120%;
  font-weight: bold;
  margin: 0.3em;
  line-height: 1.5;
  padding: 0.2em 0.8em;
  text-align: center;
}

div.tag_index {
  border: 0px solid #E2492F;
  display: inline-block;
  height: 3em;
  margin: 0.5em 1.5em 0 0;
}

div.tag_index p {
  line-height: 2.3em;
}

/* ORIGIN */

div.origins {
  background-color: #F8F8F8;
  border: 1px solid #E8E8E8;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 98%;
}

div.origin {
  display: inline-block;
  margin: 22px;
}

div.origin_text {
  font-size: 16px;
  position: relative;
}

div.origin_upwards {
  bottom: 0;
}

div#mason {
  border: 0px solid black;
  margin-top: 55px;
}

div.origin_card {
  background-color: #F8F8F8;
  float: left;
  margin-bottom: 20px;
  max-width: 374px;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
  @include shadow_ie;
}


div.origin_card_name {
  line-height: 1.4;
  min-height: 35px;
  margin: 4px 0 2px;
  width: 100%;
}

div.origin_card_name a {
  display: inline-block;
  float: left;
  font-size: 120%;
  font-weight: bold;
  width: 164px;
}

div.origin_card_avatar img {
  float: left;
  min-height: 200px;
  max-height: 374px;
  min-width: 200px;
  max-width: 374px;
}

div.origin_card_info {
  color: #B0B0B0;
  display: inline-block;
  margin: 4px 4px 5px;
  max-width: 374px;
}

textarea#origin_content {
  height: 180px;
  float: left;
  margin: 5px 0 0 10px;
  width: 765px;
  overflow: auto;
  @include scroller;
}

div.origin_type {
  display: inline-block;
  height: 30px;
  margin-top: 6px;
  position: absolute;
  right: 5px;
  width: 30px;
}

div.origin_info_type {
  display: inline-block;
  height: 30px;
  width: 30px;
}

div.radio {
  float: left;
  height: 30px;
  width: 531px;
  margin: 0 0 15px;
  p {
    color: #B0B0B0;
    font-size: 14px;
    text-indent: 4px;
  }
}

div.radio_raspa {
  background: #F8F8F8;
  border: 1px solid #D8D8D8;
  padding: 6px 0 6px 45px;
  visibility: hidden;
  width: 531px;
  @include round(2px);
  p {
    color: #B0B0B0;
    font-size: 14px;
    text-indent: 4px;
  }
}

div.radio_type {
  color: #B0B0B0;
  display: inline-block;
  height: 30px;
  line-height: 2.5;
  margin-right: 30px;
  text-indent: 4px;
  vertical-align: bottom;
}

div.radio_type input {
  border: 1px solid black;
  display: inline-block;
  -webkit-appearance: none;
  border: 0px solid #dbdbdb;
  height: 30px;
  width: 32px;
  cursor: pointer;
  @include transparency(0.4);
}

div.radio_type input:checked, div.radio_type_raspa input:checked {
  @include transparency(1);
}​

div {}

div.radio_type input.book_radio {
  background: url('book.jpg') no-repeat;
}

div.radio_type input.poem_radio {
  background: url('poem.jpg') no-repeat;
}

div.radio_type input.song_radio {
  background: url('song.jpg') no-repeat;
}

div.radio_type input.film_radio {
  background: url('film.jpg') no-repeat;
}

div.radio_type input.other_radio {
  background: url('other.jpg') no-repeat;
}

div.radio_type input:hover, div.radio_type_raspa input:hover {
  border: 0;
  @include transparency(1);
}

/* ERRORS */

.cartela_error {
  background-image: url('sad_.png');
  background-repeat: no-repeat;
  background-position: right center; 
  border: 2px solid #E2492F;
  border-top: 0px solid #E2492F;
  margin-bottom: 1em;
  padding: 2em 0;
  width: 100%;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
}

div.cartela_error img{
  float: right;
  margin-right: 1em;
}

.field_with_errors {
  background-image: url('raspa_.png');
  background-repeat: no-repeat;
  background-position: right top; 
  float: left;
}

.field_with_errors input {
  background: #FFF;
}

#error_explanation {
  border: 0px solid #D8D8D8;
  color: #B0B0B0;
  font-size: 140%;
  height: 90%;
  margin: 0.5em;
  text-indent: 0.5em;
  width: 97%;
}

#error_explanation ul li {
  color: #B0B0B0;
  list-style: none;
  margin-top: 0.5em;
}

/* NOTICES */

div.flash.success {
  background: #F8F8F8;
  background-image: url('super_.png');
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #E2492F;
  border-top: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: inline-block;
  float: right;
  font-size: 140%;
  margin: 0 0.3em 0.5em 0.5em;
  padding: 2em 0.5em;
  text-indent: 0.5em;
  width: 565px;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
  @include round(4px);
}

div.flash.success img{
  float: right;
  margin-right: 1em;
}

div.flash.notice {
  background: white;
  background-image: url('surprise_.png');
  background-repeat: no-repeat;
  background-position: right center;
  border: 2px solid #E2492F;
  border-top: 0 solid #E2492F;
  color: #B0B0B0;
  display: inline-block;
  font-size: 140%;
  margin: 0 auto 1em;
  padding: 2.3em 0;
  position: relative;
  text-align: center;
  width: 792px;
  z-index: 5;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
}

div.flash.notice a {
  font-size: 100%;
}

div.flash.error {
  background: #FFF5EE;
  background-image: url('dull_.png');
  background-repeat: no-repeat;
  background-position: right center;
  border: 2px solid #E2492F;
  border-top: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: inline-block;
  float: right;
  font-size: 140%;
  margin: 0 0.3em 0.5em 0.5em;
  padding: 2em 0.5em;
  text-indent: 0.5em;
  width: 565px;
  @include shadow(2px, 2px, 2px, 2px, #D8D8D8);
  @include round(4px);
}

div.flash.error img{
  float: right;
  margin-right: 1em;
}