.container {
  height:100%;
  width: 100%;
}

body {
  background: transparent;
}

div.container img.author_back {
  filter:alpha(opacity=20);
  opacity: 0.2;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: -2;
}

* {
  margin: 0;
}

section {
  border: 0px solid black;
  height: 0;
  margin-left:auto;
  margin-right:auto;
  margin-top: 0;
  padding-top: 40px;
  width: 100%;
}

/* NAVIGATION */

header {
  background: #e2492f;
  height: 40px;
  margin: 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px #2F4F4F;
  -moz-box-shadow: 0 1px 2px #2F4F4F;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#F8F8F8')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#D8D8D8');
  z-index: 5;
}

li {
  list-style: none;
}

nav {
  border: 0px solid black;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

nav input::-webkit-input-placeholder {
  color:    #FFF5EE;
}
nav input:-moz-placeholder {
  color:    #FFF5EE;
}

 nav .hasPlaceholder {
  color: #FFF5EE;
}

.raspas_logo {
  border: 0px solid #E6674A;
  float: left;
  height: 18px;
  padding: 12px 14px 10px;
  width: 74px;
}

.raspas_logo:hover {
  background: #E6674A;
}

nav ul {
  float: left;
}

nav ul li {
  display: inline;
  text-align: center;
  font-weight: bold;
}

nav ul li.sider {
  display: none;
}

nav ul:hover li { 
  display: inline; 
}

nav ul li a {
  border: 0px solid #E6674A;
  color: #FFF;
  display: inline-block;
  padding: 12px;
  min-width: 15px;
}

.nave_r {
  float: right;
}

nav ul.nave_r li a {
  float: left;
}

nav ul.nave_r li.sider a {
  padding: 12px 8px;
}

nav ul li input {
  background: transparent;
  border: 1px solid #E6674A;
  border-right: 0px solid #E6674A;
  color: #FFF;
  float: left;
  height: 25px;
  margin-top: 6px;
  text-align: center;
}

nav ul li input:hover {
  background: #E6674A;
}

nav ul li.search {
  float: left;
}

nav ul li.search input.search_li {
  float: left;
  width: 11.5em;
}

nav ul li.search input.lupa {
  border-right: 1px solid #E6674A;
  border-left: 0px solid #E6674A;
  float: left;
  opacity: 0.8;
  padding: 0 0.2em;
  height: 27px;
  width: 27px;
}

nav ul.nave_r li input#button {
  border: 0px solid #E6674A;
  height: 18px;
  margin-top: 0;
  padding: 11px;
  width: 22px;
}

nav ul li a:hover, nav ul.nave_r li input#button:hover {
  background: #E6674A;
  color: #FFF;
}

nav ul li a.mural {
  border: 0px solid #E6674A;
  margin-left: 0.8em;
  padding: 4px; 
}

 nav ul li a.mural img {
  border: 0px solid #E6674A;
  height: 30px;
  margin: 0;
  padding: 0px; 
  width: 30px;
 }

div.mural_count {
  background: #E6674A;
  border: 1px solid #E6674A;
  margin-left: -0.8em;
  padding: 1px 4px;
  position: absolute;
  top: 11px;
}

div.topo {
  border: 0px solid blue;
  width: 142px;
}

div.topo li a {
  padding: 12px 8px;
}

/* PAGINATION */

div.pagination_square {
  border: 0px solid #D8D8D8;
  float: right;
}

.pagination {
  height: 40px;
}

div.pagination a, .pagination span, .pagination em {
  border: 1px solid #D8D8D8;
  display: block;
  float: left;
  font-size: 120%;
  font-weight: bold;
  margin-left: 0.5em;
  padding: 0.2em 0.5em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.pagination .disabled {
  color: #D8D8D8;
  border: 1px solid #D8D8D8; 
}

.pagination .current {
  background: #E2492F;
  color: #FFF;
}

.pagination a {
  color: #E2492F;
  text-decoration: none;
  border: 1px solid #9aafe5; 
}

.pagination a:hover, .pagination a:focus {
  background: #E2492F;
  color: #FFF;
}

footer {
  float: left;
  height: 75px;
  width: 100%;
}

/* GENERAL */

.but {
  background: transparent;
  border: 1px solid #D8D8D8;
  color: #E2492F;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-weight: bold;
  min-height: 20px;
  min-width: 8px;
  padding: 4px 7px;
}

.but:hover {
  background: #E2492F;
  color: #FFF;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 1px 1px #D8D8D8;
}

.round {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.shadow {
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
}

.actions {
  float: left;
}

.invisible {
  position: absolute;
  visibility: hidden;
}

.absolute {
  float: left;
  position: absolute;
  top: 0;
  z-index: -1;
}

input::-webkit-input-placeholder {
  color:    #B0B0B0;
}
input:-moz-placeholder {
  color:    #B0B0B0;
}

.hasPlaceholder {
  color: #B0B0B0;
}

.raspas {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

div.home {
  border: 0px solid #D8D8D8;
  float: left;
  margin: 0 0 2em;
  width: 800px;
}

div.title {
  border-bottom: 1px solid #D8D8D8;
  float: left;
  font-weight: bold;
  height: 28px;
  margin-top: 0.8em;
  text-align: left;
  width: 800px;
}

input#button {
  background: transparent;
  border: 0;
  padding: 0;
  text-align: left;
  font-size: 140%;
  font-weight: normal;
}

div.title a {
  float: right;
  margin-left: 0.5em;
}

div.likes {
  border: 0px solid black;
  display: block;
  margin: 0.8em 0 0 592px;
  position: fixed;
  top: 40px;
  width: 12em;
}

div.likes_each {
  border: 0px solid #D8D8D8;
  float: left;
  height: 1.8em;
  margin-bottom: 0.5em;
  width: 12em;
}

div.likes_each_home {
  border: 0px solid #D8D8D8;
  float: left;
  height: 1.8em;
  width: 2em;
}

div.fb-like {
  border: 0px solid #D8D8D8;
  float: left;
  height: 1.8em;
  width: 9em;
}

/* MOSAICO */

.mosaico {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

div.mosaico_each {
  border: 0px solid #E8E8E8;
  display: inline-block;
  float: left;
  height: 98px;
  position: relative;
  width: 98px;
}

/* POPPUP FORMS */

#backgroundPopup {  
  background: #000000;  
  border: 1px solid #E8E8E8;  
  display: none;
  height: 100%;  
  left: 0;  
  position: fixed;
  _position: absolute; /* hack for internet explorer 6*/  
  top: 0;  
  width: 100%;  
  z-index: 3;  
}

#popupContact {  
  border: 0px solid #E8E8E8;  
  display: none;  
  height: 200px;  
  margin-top: 41px;  
  position: fixed;  
  _position: absolute; /* hack for internet explorer 6*/  
  width: 800px;  
  z-index: 4;  
}

#popupContactClose {
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  height: 32px;
  opacity: 0.7;
  padding: 1px 1.2em;
  position: absolute;
  right: 1.5em;
  width: 30px;
  -webkit-box-shadow: 0 1px 1px #D8D8D8;
  -moz-box-shadow: 0 1px 1px #D8D8D8;
}

#popupContactClose:hover {
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  background: #E2492F;
  color: #FFF;
  opacity: 1;
}

textarea#contact {
  border: 1px solid #E8E8E8;
  height: 160px;
  float: left;
  margin: 1.3em 0 0 1em;
  width: 550px;
}

textarea#contact:hover {
  border: 1px solid #D8D8D8;
}

input#message_nome.hasPlaceholder, input#message_email.hasPlaceholder, input#message_fone.hasPlaceholder, input#message_assunto.hasPlaceholder {
  color: #B0B0B0;
}

/* HOME */

div.logo_avatar {
  background: #FFF5EE;
  border: 1px solid #D8D8D8;
  height: 95px;
  margin-bottom: 1em;
  width: 200px;
}

div.stack_home {
  border: 0px solid #D8D8D8;
  float: right;
  height: 100%;
  margin-bottom: 2em;
  padding-bottom: 2em;
  padding-top: 1px;
  width: 595px;
  margin-top: 108px;
}

div.intro {
  background-color: #FFF5EE;
  border: 1px solid #E2492F;
  height: 95px;
  margin-left: 0.5em;
  margin-bottom: 1em;
  position: fixed;
  top: 40px;
  width: 582px;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
  z-index: 2;
}

div.intro_text {
  border: 0px solid black;
  float: left;
  font-size: 140%;
  height: 50px;
  line-height: 1.5em;
  margin-top: 1.2em;
  text-align: center;
  width: 580px;
}

div.intro a {
  font-size: 100%;
}

div.back_avatar {
  border: 0px solid #D8D8D8;
  float: left;
  position: fixed;
  top: 40px;
  z-index: -2;
}

div.back_avatar_each, div.feed_mosaico_each {
  border: 0px solid #E8E8E8;
  display: inline-block;
  float: left;
  height: 98px;
  opacity: 0.4;
  filter:alpha(opacity=30);
  position: relative;
  width: 98px;
}

div.feed_mosaico_each {
  opacity: 0.3;
  filter:alpha(opacity=20);
}

div.back_avatar_each img, div.mosaico_each img, div.feed_mosaico_each img {
  height: 98px;
  width: 98px;
}

div.back_avatar_each p, div.mosaico_each p, div.feed_mosaico_each p {
  border: 0px solid blue;
  bottom: 0px;
  display: inline-block;
  font-size: 80%;
  font-weight: bold;
  padding: 8px 0;
  position: absolute;
  text-align: center;
  left: 0;
  visibility: hidden;
  width: 98px;
}

div.back_avatar_each a, div.mosaico_each a, div.feed_mosaico_each a {
  color: #FFF;
}

div.back_avatar_each:hover, div.feed_mosaico_each:hover {
  opacity: 1;
  filter:alpha(opacity=100);
}

div.back_avatar_each:hover p, div.mosaico_each:hover p, div.feed_mosaico_each:hover p {
  visibility: visible;
}

.gradient{
  /* thanks to http://blog.fakedarren.com/2010/01/cross-browser-css-gradients/ */
  /* and http://www.puremango.co.uk/2010/04/css-gradient/ */
  /* fallback (Opera) */
  background: transparent;
  /* Mozilla: */
  background: -moz-linear-gradient(top, transparent, #D8D8D8);
  /* Chrome, Safari:*/
  background: -webkit-gradient(linear,
              left top, left bottom, from(transparent), to(#D8D8D8));
  /* MSIE */
  filter: progid:DXImageTransform.Microsoft.Gradient(
              StartColorStr='#F8F8F8', EndColorStr='#707070', GradientType=0);
}

/* SIGNUP PAGE */

.cartela {
  background: #F8F8F8;
  border: 1px solid #E8E8E8;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  width: 98%;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
}

div.cartela_corner {
  display: inline;
  float: left;
  height: 200px;
  width: 200px;
}

.field {
  border: 0px solid #D8D8D8;
  float: left;
  height: 165px;
  margin-left: 1.5em;
  margin-top: 1.5em;
  width: 71%;
}

div.field input {
  background: transparent;
  border: 1px solid #E8E8E8;
  color: #2F4F4F;
  display: inline;
  float: left;
  height: 30px;
  margin-bottom: 0.7em;
  width: 564px;
}

div.field input:hover {
  border: 1px solid #D8D8D8;
}

div.field input.password {
  width: 456px;
}

div.field input.but {
  color: #E2492F;
  margin-left: 0.5em;
  padding: 8px 7px 24px;
  width: 99px;
}

div.field input.but:hover {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  color: #FFF;
}


/* SIGNIN PAGE */

.yet {
  color: #B0B0B0;
  margin-top: 1em;
}


/* USER SHOW PAGE */

div.stack {
  border-left: 0px solid #D8D8D8;
  float: right;
  height: 100%;
  margin-bottom: 2em;
  padding-bottom: 2em;
  padding-top: 1px;
  width: 595px;
}

div.user_info {
  border: 0px solid blue;
  float: left;
  width: 200px;
}

div.user_avatar {
  background: #F8F8F8;
  border: 1px solid #E8E8E8;
  height: 200px;
  margin-bottom: 1em;
  width: 200px;
}

div.user_info_board {
  background: #F8F8F8;
  border: 1px solid #E8E8E8;
  color: #B0B0B0;
  float: right;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 185px;
}

div.user_info_board input {  
  border: 1px solid #D8D8D8;
  color: #E2492F;
  float: left;
  font-size: 120%;
  font-weight: bold;
  height: 25px;
  margin-top: 0.5em;
  width: 100%;
}

div.user_info_board a.edit {  
  float: left;
  height: 22px;
  margin-top: 0.5em;
  padding: 2px 0 0;
  text-align: center;
  width: 99%;
}

.user_info_board input:hover {
  cursor: pointer;
}

div.user_info_board input.follow {
  background: #E2492F;
  color: #FFF;
}

div.user_info_board input.unfollow {
  background: #F8F8F8;
  color: #B0B0B0;
}

div.user_info_board input.unfollow:hover {
  background: #E2492F;
  color: #FFF;
}

div.user_info_board:hover {
  color: #2F4F4F;
  cursor: default;
}

div.stats {
  border: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: inline-block;
  height: 22px;
  margin-top: 0.5em;
  text-align: left;
  width: 177px;
}

div.user_info_board div.stats {
  width: 187px;
}

div.stats img {
  height: 20px;
  opacity: 0.5;
  width: 20px;
}

div.stats img:hover {
  opacity: 1;
}

div.stats a.but {
  font-weight: normal;
  height: 20px;
  padding: 1px 4px;
  line-height: 1.5;
  margin-right: 0;
  min-width: 16px;
  text-align: center;
}

div.user_info_board a.temas {
  float: left;
  font-size: 120%;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0 0.4em 0.4em 0;
}

div.bio {
  line-height: 1.6em;
}

div.last_header {
  border: 0px solid #D8D8D8;
  margin-bottom: 0.5em;
}

div.last {
  border: 0px solid #D8D8D8;
  height: 32px;
  margin-bottom: 0.5em;
  vertical-align: text-top;
}

div.last img {
  border: 0px solid #D8D8D8;
  float: left;
  height: 32px;
  width: 32px;
}

div.last_users {
  border: 0px solid #D8D8D8;
  display: inline-block;
  position: relative;
}

div.last_upwards {
  border: 0px solid black;
  bottom: 0;
  font-weight: bold;
  margin-left: 0.3em;
  position: absolute;
  left: 32px;
  width: 145px;
}

div.last_upwards p {
  line-height: 1.2;
}

/* USER HOME PAGE */

div.user_bar {
  background: #F8F8F8;
  border: 0px solid #D8D8D8;
  float: left;
  height: 200px;
  margin-bottom: 1.5em;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
}

div.user_bar img {
  float:left;
  margin: 0.1em;
}

div.user_board {
  border-bottom: 1px solid #D8D8D8;
  float: left;
  height: 190px;
  margin: 0.5em;
  width: 585px;
}

div.board_avatar {
  border-left: 1px solid #D8D8D8;
  float: left;
  height: 200px;
  width: 200px;
}

div.board_avatar img {
  height: 200px;
  width: 200px;
}

div.board_avatar input {
  margin-right: 0;
}

/* RASPA */

textarea#micropost_content {
  border: 1px solid transparent;
  float: left;
  font-size: 140%;
  height: 152px;
  width: 500px;
}

div.count {
  float: right;
  margin-top: 12.4em;
}

div.count_micropost {
  float: right;
  margin-right: 3em;
  margin-top: 11.5em;
}

div.count_bio {  
  float: left;
  margin-top: 13.8em;
}

div#count, div#count_bio {
  color: #B0B0B0;
  font-size: 140%;
}

input#micropost_author_name, input#micropost_origem, input#micropost_tag_names {
  background-color: transparent;
  border: 0px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;
  color: #2F4F4F;
  float: left;
  font-size: 120%;
  height: 20px;
  margin-left : 0.4em;
  margin-right: 0.5em;
  margin-top: 1em;
  width: 240px;
}

input#micropost_author_name.hasPlaceholder, input#micropost_tag_names.hasPlaceholder {
  color:#E2492F;
}

.write {
  border: 1px solid #D8D8D8;
  float: left;
  height: 25px;
  margin-top: 0.4em;
  padding: 0 1.3em;
  width: 25px;
}

.write:hover {
  background: #E2492F;
}

/* AUTOCOMPLETE */

ul.ui-autocomplete {
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

ul.ui-autocomplete li {
  background-color: #F8F8F8;
  border-left: solid 1px #D8D8D8;
  margin: 0;
  padding: 0;
}

ul.ui-autocomplete li a {
  color: #E2492F;
  display: block;
  font-size: 115%;
  font-weight: bold;
  padding: 3px;
}

ul.ui-autocomplete li a.ui-state-hover, a.ui-state-active {
  background-color: #E2492F;
  color: #FFF;
}

div.quotes {
  background-color: #F8F8F8;
  border: 1px solid #E8E8E8;
  height: 199px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 98%;
}

div.half_quotes {
  background-color: #F8F8F8;
  border: 1px solid #E2492F;
  height: 95px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 98%;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
}

div.half_quotes a {
  font-size: 100%;
  font-weight: bold;
}

div.quotes:nth-child(even) { 
  background: #FFF5EE; 
}

div.quote {
  border: 0px solid #D8D8D8;
  display: inline-block;
  height: 200px;
  margin-left: 1.4em;
  width: 78%;
}

div.quote_text {
  border: 0px solid blue;
  font-size: 140%;
  padding-top: 7.8em;
  position: relative;
}

div.upwards {
  border: 0px solid black;
  bottom: 0;
  position: absolute;
}

div.user {
  display: inline-block;
  float: left;
  font-weight: bold;
  width: 100%;
}

div.user img {
  height: 20px;
  margin-left: -0.4em;
  width: 20px;
}

div.timestamp {
  border: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: block;
  float: left;  
  margin: 0.9em 0 0 0.4em;
}

div.timestamp_each {
  border: 0px solid #D8D8D8;
  display: block;
  float: left;  
  margin: 0 1em 2px 0;
}

div.timestamp_each img {
  height: 12px;
  margin: 0 0 0 2px;
  width: 12px;
}

div.timestamp_each img.raspa {
  height: 12px;
  width: 15px;
}

div.timestamp a {
  font-size: 100%;
}

div.quote_corner {
  border: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: inline-block;
  float: right;
  height: 200px;
  margin-right: 1.5em;
  text-align: right;
  width: 65px;
}

div.top_corner {
  border: 0px solid #D8D8D8;
  height: 11.2em;
  width: 65px;
}

div.top_corner a.top_button {
  border: 1px solid #D8D8D8;
  display: block;
  float: right;
  height: 32px;
  opacity: 0.7;
  padding: 1px 1.2em;
  width: 30px;
  -webkit-box-shadow: 0 1px 1px #D8D8D8;
  -moz-box-shadow: 0 1px 1px #D8D8D8;
}

div.top_corner a.top_button:hover {
  border: 1px solid #D8D8D8;
  background: #E2492F;
  color: #FFF;
  opacity: 1;
}

div.top_corner input {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  display: block;
  float: right;
  height: 32px;
  padding: 1px 1.2em;
  width: 30px;
}

div.top_corner input:hover {
  background: #F8F8F8;
  border: 1px solid #D8D8D8;
  border-top: 0px solid #D8D8D8;
  color: #FFF;
  opacity: 1;
}

div.but_stats {
  border: 1px solid #E8E8E8;
  border-top: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: block;
  float: right;
  padding: 2px 0;
  text-align: center;
  width: 64px;
 }

 div.but_stats p {
  color: #B0B0B0;
  font-size: 85%;
}

div.but_stats a {
  border: 0px solid #E8E8E8;
  font-size: 100%;
  padding: 0.1em 1.4em;
}

div.but_stats_own {
  background: #E2492F;
  border: 1px solid #E8E8E8;
  border-top: 0px solid #D8D8D8;
  display: block;
  float: right;
  padding: 2px 0;
  text-align: center;
  width: 64px;
 }

div.but_stats_own a {
  color: #FFF;
  font-size: 100%;
  padding: 0.1em 1.4em;
}

div.share {
  border: 0px solid black;
  float: right;
  height: 55px;
  margin-top: 0.9em;
  width: 63px;
}

div.sharers {
  border: 0px solid black;
  display: inline;
  float: left;
}

div.sharers img {
  margin-right: 6px;
}

div.sharers img:hover {
  opacity: 0.9;
}

div.user_id img {
  border: 1px solid #E8E8E8;
  border-bottom: 0px;
  display: inline-block;
  float: right;
  height: 65px;
  width: 65px;
}

div.quotes:hover div.timestamp {
  color: #2F4F4F;
}

/* SIGNIN */

div.sharing {
  border: 1px solid #E2492F;
  background: transparent;
}

div.sharing a, div.sharing img {
  border: 1px solid transparent;
  padding: 0;
  float: left;
  margin: 2.5em 0.4em 0;
}

div.sharing img:hover {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

a.social_but img{
  margin: 2.2em;
}

/* USER EDIT PAGE */

textarea {
  background-color: transparent;
  border: 1px solid transparent;
  float: left;
  height: 9.6em;  
  width: 535px;
}

input#user_image {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  color: #FFF;
  float: left;
  padding: 6px 0;
  margin-top: -30px;
  position: relative;
  visibility: visible;
  width: 198px;
}

input#user_image:hover {
  cursor: pointer;
}

div.field input.field_info {
  width: 180px;
}

input#user_name.hasPlaceholder, input#user_job.hasPlaceholder, input#user_origin.hasPlaceholder, input#user_email.hasPlaceholder {
  color: #B0B0B0;
}

/* FOLLOW PAGE */

div.feed_mosaico {
  border: 0px solid #D8D8D8;
  left: 0;
  float: left;
  position: fixed;
  top: 40px;
  z-index: -1;
}

div.user_feed {
  background-color: #F8F8F8;
  border: 1px solid #D8D8D8;
  color: #B0B0B0;
  display: inline-block;
  height: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 798px;
  -webkit-box-shadow: 0 1px 1px #D8D8D8;
  -moz-box-shadow: 0 1px 1px #D8D8D8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#F8F8F8')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#D8D8D8');
}

div.user_feed_avatar img {
  float:left;
  height: 130px;
  margin: 0;
  width: 130px
}

div.user_feed_side {
  border-left: 1px solid #D8D8D8;
  display: inline;
  float: left;
  height: 130px;
  line-height: 1.5;
  padding: 0em 1em;
  width: 180px;
}

div.user_feed_arrow img {
  border: 1px solid #D8D8D8;
  float: left;
  height: 130px;
  margin: 0;
  opacity: 0.5;
  width: 130px;
}

div.user_feed_arrow img:hover {
  cursor: pointer;
  opacity: 1;
}

div.user_feed_follow {
  border: 0px solid #D8D8D8;
  float: left;
  height: 130px;
  width: 330px
}

div.user_feed_follow img {
  border: 0px solid #D8D8D8;
  float: left;
  height: 32px;
  width: 32px
}

div.feed_quotes {
  border: 0px solid #D8D8D8;
  height: 200px;
  margin-bottom: 2.5em;
  width: 798px;
}

div.stack_feed {
  float: right;
  height: 200px;
  width: 595px;
}

div.mural_feed {
  border: 1px solid #D8D8D8;
  height: 31px;
  width: 330px;
}

div.mural_feed_half {
  border: 1px solid #D8D8D8;
  height: 15px;
  width: 330px;
}

div.mural_feed img{
  height: 31px;
  width: 31px;
}

div.mural_feed p {
  line-height: 1.2;
  margin-left: 36px;
}

div.mural_feed a {
  color: #B0B0B0;
  font-size: 110%;
}


div.mural_feed:hover {
  background: #FFF;
}

div.mural_feed:hover a {
  color: #2F4F4F;
}

div.mural_feed a:hover {
  color: #E2492F;
}

div.user_card {
  background-color: #F8F8F8;
  border: 1px solid #D8D8D8;
  display: inline-block;
  float: left;
  height: 185px;
  margin: 1em;
  width: 374px;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#F8F8F8')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#D8D8D8');
}

div.user_gravatar_card img {
  float: left;
  height: 185px;
  width: 185px;
}

div.user_card_info {
  border: 0px solid #D8D8D8;
  color: #B0B0B0;
  display: inline-block;
  float: right;
  height: 100%;
  margin-right: 0.8em;
  width: 47%;
}

div.user_card_name {
  border-bottom: 1px solid #D8D8D8;
  line-height: 1.5;
  margin-top: 0.2em;
  height: 4.7em;
  width: 100%;
}

div.user_card_name a {
  display: block;
  font-size: 120%;
  font-weight: bold;;
}

div.home_authors {
  border: 0px solid #D8D8D8;
  float: left;
  position: relative;
}

div.home_authors_each {
  border: 0px solid #E8E8E8;
  display: inline-block;
  float: left;
  height: 130px;
  margin: 0 1px 1px 0;
  position: relative;
  width: 130px;
}

div.home_authors_each p {
  background: #F8F8F8;
  border: 0px solid blue;
  bottom: 10px;
  color: #E2492F;
  display: inline-block;
  font-weight: bold;
  opacity: 0.6;
  filter:alpha(opacity=60);
  position: absolute;
  text-align: center;
  width: 130px;
}

div.home_authors_each:hover p {
  opacity: 1;
  filter:alpha(opacity=100);
}

/* AUTHOR */

div.name_edit {
  border: 0px solid #D8D8D8;
  min-height: 25px;
  margin-bottom: 2px;
}

div.name_edit img {
  border: 0px solid #D8D8D8;
  display: inline;
  float: right;
  height: 12px;
  margin: 3px 3px 0 0;
  width: 12px;
}

div.name_edit p {
  border: 0px solid #D8D8D8;
  color: #2F4F4F;
  display: inline;
  float: left;
  font-size: 140%;
  font-weight: bold;
  max-width: 9em;
}

div.name_edit a {
  font-size: 100%;
}

div.sobre {
  border: 0px solid black;
  float: left;
  font-size: 150%;
  height: 55px;
  line-height: 2;
  margin-left: 1em;
  margin-top: 3.6em;
  width: 560px;
}

div.sign {
  border: 0px solid black;
  color: #B0B0B0;
  float: left;
  font-size: 140%;
  height: 55px;
  line-height: 1.5;
  margin-left: 1em;
  margin-top: 1.4em;
  width: 84%;
}

div.flag_sign {
  border: 0px solid black;
  float: right;
  font-size: 140%;
  height: 40px;
  margin-right: 1.5em;
  margin-top: 2em;
  width: 40px;
}

div.sign a {
  font-size: 100%;
  font-weight: normal;
}

div.user_info_board input.fan, div.user_info_board a.fan  {
  background: #E2492F;
  color: #FFF;
}

div.user_info_board a.fan {
  line-height: 1.4;
}

div.user_info_board input.unfan, div.user_info_board a.unfan {
  background: #F8F8F8;
  color: #B0B0B0;
}

div.user_info_board input.unfan:hover {
  background: #E2492F;
  color: #FFF;
}


/* AUTHOR EDIT */

textarea#bio {
  border: 1px solid #E8E8E8;
  height: 160px;
  float: left;
  margin: 1.3em 0 0 1em;
  width: 332px;
}

textarea#bio:hover {
  border: 1px solid #D8D8D8;
}

input#author_image {
  background: #E2492F;
  border: 1px solid #D8D8D8;
  color: #FFF;
  float: left;
  padding: 6px 0;
  margin-top: -30px;
  position: relative;
  visibility: visible;
  width: 198px;
}

input#author_image:hover {
  cursor: pointer;
}

div.update {
  border: 0px solid #D8D8D8;
  display: block;
  float: right;
}

div.update_author {
  display: block;
  float: left;
  font-size: 120%;
}

div.update_ {
  display: block;
  float: right;
  font-size: 110%;
}

div.update_apagar {
  display: block;
  font-size: 100%;
  line-height: 1.5;
  margin-top: 10em;
}

div.update_apagar a {
  color: #B0B0B0;
}

input#author_name.hasPlaceholder, input#author_job.hasPlaceholder, input#author_origin.hasPlaceholder, input#author_tipo.hasPlaceholder {
  color: #B0B0B0;
}

/* TAGS */

div.tag_word a {
  float: left;
  font-size: 120%;
  font-weight: bold;
  margin: 0.3em;
  line-height: 1.5;
  padding: 0.2em 0.8em;
  text-align: center;
}

div.tag_index {
  border: 0px solid #E2492F;
  display: inline-block;
  height: 3em;
  margin: 0.5em 1.5em 0 0;
}

div.tag_index p {
  line-height: 2.3em;
}

/* ERRORS */

.cartela_error {
  background-image: url('sad_.png');
  background-repeat: no-repeat;
  background-position: right center; 
  border: 2px solid #E2492F;
  border-top: 0px solid #E2492F;
  margin-bottom: 1em;
  padding: 2em 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
}

div.cartela_error img{
  float: right;
  margin-right: 1em;
}

.field_with_errors {
  background-image: url('raspa_.png');
  background-repeat: no-repeat;
  background-position: right top; 
  float: left;
}

.field_with_errors input {
  background: #FFF;
}

#error_explanation {
  border: 0px solid #D8D8D8;
  color: #B0B0B0;
  font-size: 140%;
  height: 90%;
  margin: 0.5em;
  text-indent: 0.5em;
  width: 97%;
}

#error_explanation ul li {
  color: #B0B0B0;
  list-style: none;
  margin-top: 0.5em;
}

/* NOTICES */

div.flash.success {
  background: #F8F8F8;
  background-image: url('super_.png');
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #E2492F;
  border-top: 0px solid #D8D8D8;
  border-radius: 4px;
  color: #B0B0B0;
  display: inline-block;
  float: right;
  font-size: 140%;
  margin: 0 0.3em 0.5em 0.5em;
  padding: 2em 0.5em;
  text-indent: 0.5em;
  width: 565px;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.flash.success img{
  float: right;
  margin-right: 1em;
}

div.flash.notice {
  background: transparent;
  background-image: url('surprise_.png');
  background-repeat: no-repeat;
  background-position: right center;
  border: 2px solid #E2492F;
  border-top: 0 solid #E2492F;
  color: #B0B0B0;
  display: inline-block;
  font-size: 140%;
  padding: 2em 0;
  margin: 0 auto 1em;
  text-align: center;
  width: 792px;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
}

div.flash.error {
  background: #FFF5EE;
  background-image: url('dull_.png');
  background-repeat: no-repeat;
  background-position: right center;
  border: 2px solid #E2492F;
  border-top: 0px solid #D8D8D8;
  border-radius: 4px;
  color: #B0B0B0;
  display: inline-block;
  float: right;
  font-size: 140%;
  margin: 0 0.3em 0.5em 0.5em;
  padding: 2em 0.5em;
  text-indent: 0.5em;
  width: 565px;
  -webkit-box-shadow: 0 2px 2px #D8D8D8;
  -moz-box-shadow: 0 2px 2px #D8D8D8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.flash.error img{
  float: right;
  margin-right: 1em;
}