/* Default font settings.
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html { font-size:100%; }
body {
  background: #fff;
  color: #2F4F4F;
  font-family: "Helvetica Light", Arial, Helvetica, sans-serif;
  font-size: 75%;
}

input {
  font-size: 120%;
}

textarea {
  color: #2F4F4F;
  font-family: "Helvetica Light", Arial, Helvetica, sans-serif;
  font-size: 120%;
  line-height: 1.5em;
}

p {
  line-height: 1.5em;
}

/* Text elements
-------------------------------------------------------------- */

.p_tag {
  color: #2F4F4F;
  display: inline;
  font-size: 140%;
  margin-top: 0.2em;
}

.p_tags {
  color: #B0B0B0;
  display: inline;
  font-size: 140%;
  margin-top: 0.2em;
}

.p_tags a {
  font-size: 100%;
}

.p_feed {
  color: #FFF5EE;
  display: inline;
  font-size: 90%;
  font-weight: bold;
  height: 30px;
}

.p_mais {
  display: inline;
  float: right;
  font-size: 120%;
  font-weight: bold;
  margin-right: 0.3em;
}

.p_stats {
  float: left;
  line-height: 1.7em;
  width: 7em;
}

.p_search {
  color: #2F4f4F;
  display: inline;
  font-size: 120%;
}

p:hover {
  cursor: default;
}


/* Link elements
-------------------------------------------------------------- */

a  { 
	color: #E2492F;
  font-size: 120%;
	text-decoration: none; 
}

a:hover  {
	cursor: pointer;
}  