<footer>
	<a href='http://raspas.reverbee.com/' target='_blank' class='banner' style='background-color:rgba(255, 255, 255, 0.7);background-image:url("https://s3.amazonaws.com/reverbee/public/bulbee.png");background-repeat:no-repeat;background-position:2px 5px;border:1px solid #E0E0E0;border-bottom:0;border-top-left-radius:4px;border-top-right-radius:4px;color:#684534;padding:13px 10px 10px 45px;position:fixed;bottom:0;right:40px;'>SUPORTE & FEEDBACK</a>
</footer>